* {
    box-sizing: border-box;
}


body {
    font-family: 'Red Hat Display', sans-serif;
}


.conteneur {
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

img.image {
    width: 100%;
}

.partie-basse {
    text-align: center;
    padding: 0 10%;
    display: flex;
    flex-direction: column;

}

h1 {
    font-weight: 900;
    font-size: 1.4rem;
    margin: 2rem 0 1.7rem 0;
}

.descriptif {
    color: #727584;
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.plan-box {
    background-color: #f8f9fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin: 1.5rem 0;
}

.tout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc-prix p {
    margin: 0.3rem 20px 0.3rem 10px;
}
.type-de-plan {
    font-weight: 700;
    font-size: 0.95rem;
}
.pricing {
    font-size: 0.95rem;
    color: #727584;
}
.lien {
    font-weight: 700;
    font-size: 0.8rem;
    color: #382ae1;
}

.lien:hover {
    color: #766cf1;
    cursor: pointer;
}

button {
    height: 48px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.95rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.btn-proceed {
    color: white;
    background-color: #382ae1;
    box-shadow: 0 10px 60px -5px #BDADFF;
}
.btn-proceed:hover {
    background-color: #766cf1;
    cursor: pointer;
}
.btn-cancel {
    color: #727584;
    background-color: rgba(0, 0, 0, 0);
    margin: 1rem 0;
}
.btn-cancel:hover {
    color: #292c3f;
    cursor: pointer;
}

@media (max-width: 534px) {
    body {
        background: url("images/pattern-background-mobile.svg") top no-repeat;
        background-size: 100%;
        background-color: #e0e8ff;
    }
}

@media (min-width: 535px) {

    h1 {
        font-size: 1.7rem;
    }


    .descriptif {
        font-size: 1rem;
    }

    .type-de-plan {
        font-size: 1rem;
    }
    .pricing {
        font-size: 1rem;
    }

    .plan-box {
        padding: 1.2rem;
        margin: 1.7rem 0;
    }

    .btn-cancel {
        margin-bottom: 2rem;
    }

    body {
        background: url("images/pattern-background-desktop.svg") top no-repeat;
        background-size: 100%;
        background-color: #e0e8ff;
    }
}

@media (max-height: 849px) {
    body {
        display: flex;
        justify-content: center;
    }
    .conteneur {
        margin: 70px 0;
    }
}

@media (min-height: 850px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}